.footerContainer {
    display: flex;
    width: 70%;
    border: solid 0.15rem lightgray;
    justify-content: center;
    overflow-y: hidden;
    /* scrollbar-width: none;  */
    /* overflow-x: hidden; */
}

